In [25]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df1 = pd.read_csv('democracy-countries-2023.csv')

df2 = pd.read_excel('voilance_rate.xlsx')

df3 = pd.read_csv('literacy-rate-by-country-2023.csv')

df4= pd.read_csv('gender-equality-by-country-2023.csv')

df5 = pd.read_excel('public_service_index.xlsx')

df6= pd.read_excel('houshold_size.xlsx')

df7 = pd.read_csv('unemployment-by-country-2023.csv')

df8 = pd.read_csv('wealth-inequality-by-country-2023.csv')

df9= pd.read_excel('Average_temprature.xlsx')

df10 = pd.read_excel('corruption_perceptions _index_2022.xlsx')

df11 = pd.read_csv('depression-rates-by-country-2023.csv')

In [5]:
print(df1.columns)
print(df2.columns)
print(df3.columns)
print(df4.columns)
print(df5.columns)
print(df6.columns)
print(df7.columns)
print(df8.columns)
print(df9.columns)
print(df10.columns)
print(df11.columns)

Index(['country', 'category', 'score', 'elecProcess', 'functioningOfGovt',
       'politParticipation', 'politCulture', 'civilLiberties'],
      dtype='object')
Index(['#', 'country', 'crime index'], dtype='object')
Index(['country', 'latestRate', 'dataYear', 'pop2023'], dtype='object')
Index(['country', 'gendEqal2021', 'econ', 'education', 'health', 'polit'], dtype='object')
Index(['country', 'Public services index', 'Global rank ', 'Available data '], dtype='object')
Index(['#', 'country', 'Avg size'], dtype='object')
Index(['country', 'rateWb', 'yearWb', 'rateIlo', 'yearIlo', 'rateCia',
       'yearCia'],
      dtype='object')
Index(['country', 'gini', 'pop2023'], dtype='object')
Index(['#', 'country', 'Average temprature'], dtype='object')
Index(['corruption_score', 'country', 'Rank_corruption'], dtype='object')
Index(['country', 'prevalence', 'cases', 'pop2023'], dtype='object')

In [6]:
# List of table names
dfs = [df11, df10, df9, df8, df7, df6, df5, df4, df3, df2, df1]
concatenated_df = pd.concat(dfs).groupby('country').first().reset_index()

concatenated_df.columns

Index(['country', 'prevalence', 'cases', 'pop2023', 'corruption_score',
       'Rank_corruption', '#', 'Average temprature', 'gini', 'rateWb',
       'yearWb', 'rateIlo', 'yearIlo', 'rateCia', 'yearCia', 'Avg size',
       'Public services index', 'Global rank ', 'Available data ',
       'gendEqal2021', 'econ', 'education', 'health', 'polit', 'latestRate',
       'dataYear', 'crime index', 'category', 'score', 'elecProcess',
       'functioningOfGovt', 'politParticipation', 'politCulture',
       'civilLiberties'],
      dtype='object')

In [7]:
concatenated_df.columns

Index(['country', 'prevalence', 'cases', 'pop2023', 'corruption_score',
       'Rank_corruption', '#', 'Average temprature', 'gini', 'rateWb',
       'yearWb', 'rateIlo', 'yearIlo', 'rateCia', 'yearCia', 'Avg size',
       'Public services index', 'Global rank ', 'Available data ',
       'gendEqal2021', 'econ', 'education', 'health', 'polit', 'latestRate',
       'dataYear', 'crime index', 'category', 'score', 'elecProcess',
       'functioningOfGovt', 'politParticipation', 'politCulture',
       'civilLiberties'],
      dtype='object')

In [8]:
selected_columns = ['country', 'prevalence', 'corruption_score', 'Average temprature', 'gini', 'rateWb', 'Avg size', 'Public services index', 'score', 'crime index', 'latestRate', 'gendEqal2021', 'education', 'health', ]

In [9]:
selected_columns

['country',
 'prevalence',
 'corruption_score',
 'Average temprature',
 'gini',
 'rateWb',
 'Avg size',
 'Public services index',
 'score',
 'crime index',
 'latestRate',
 'gendEqal2021',
 'education',
 'health']

In [10]:
# Use loc to select the columns by name and assign the result back to the DataFrame
df = concatenated_df.loc[:, selected_columns]
df

,country,prevalence,corruption_score,Average temprature,gini,rateWb,Avg size,Public services index,score,crime index,latestRate,gendEqal2021,education,health
0,Afghanistan,3.3,24.0,56.03 °F,NaN,11.7,NaN,9.9,2.85,7.08,38.168041,0.444,0.514,0.952
1,Afghanistan (Islamic Republic of),NaN,NaN,None,NaN,NaN,8.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,4.8,36.0,54.45 °F,33.2,11.7,3.30,4.1,6.08,5.63,97.553902,0.770,0.999,0.956
3,Algeria,4.5,33.0,74.5 °F,27.6,13.6,NaN,5.3,3.77,4.51,79.608398,0.633,0.966,0.958
4,American Samoa,NaN,NaN,None,NaN,9.2,NaN,NaN,NaN,NaN,97.344162,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,Western Sahara,NaN,NaN,75.27 °F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,Yemen,3.6,16.0,77.97 °F,36.7,13.5,6.67,9.9,1.95,6.13,69.961952,0.492,0.717,0.968
273,Zambia,4.0,33.0,72.01 °F,57.1,12.5,5.13,7.8,4.86,4.93,85.117264,0.726,0.938,0.980
274,Zimbabwe,4.0,23.0,71.4 °F,50.3,16.9,4.08,8.7,3.16,5.66,86.873482,0.732,0.977,0.980
275,eSwatini,NaN,NaN,None,NaN,NaN,NaN,NaN,3.08,NaN,NaN,NaN,NaN,NaN

In [11]:
df = df.rename(columns={'score': 'democracy_score', 'latestRate': 'litracy_rate', 'prevalence': 'depression_rate', 'rateWb': 'unemployment_rate', 'Avg size': 'family_avg_size', 'gendEqal2021': 'gender_equality', 'Average temprature': 'average_temperature'})

In [12]:
df

,country,depression_rate,corruption_score,average_temperature,gini,unemployment_rate,family_avg_size,Public services index,democracy_score,crime index,litracy_rate,gender_equality,education,health
0,Afghanistan,3.3,24.0,56.03 °F,NaN,11.7,NaN,9.9,2.85,7.08,38.168041,0.444,0.514,0.952
1,Afghanistan (Islamic Republic of),NaN,NaN,None,NaN,NaN,8.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,4.8,36.0,54.45 °F,33.2,11.7,3.30,4.1,6.08,5.63,97.553902,0.770,0.999,0.956
3,Algeria,4.5,33.0,74.5 °F,27.6,13.6,NaN,5.3,3.77,4.51,79.608398,0.633,0.966,0.958
4,American Samoa,NaN,NaN,None,NaN,9.2,NaN,NaN,NaN,NaN,97.344162,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,Western Sahara,NaN,NaN,75.27 °F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,Yemen,3.6,16.0,77.97 °F,36.7,13.5,6.67,9.9,1.95,6.13,69.961952,0.492,0.717,0.968
273,Zambia,4.0,33.0,72.01 °F,57.1,12.5,5.13,7.8,4.86,4.93,85.117264,0.726,0.938,0.980
274,Zimbabwe,4.0,23.0,71.4 °F,50.3,16.9,4.08,8.7,3.16,5.66,86.873482,0.732,0.977,0.980
275,eSwatini,NaN,NaN,None,NaN,NaN,NaN,NaN,3.08,NaN,NaN,NaN,NaN,NaN

In [13]:
null_values = df.isnull().sum()

In [14]:
null_values

country                    0
depression_rate           97
corruption_score          96
average_temperature       70
gini                     113
unemployment_rate         74
family_avg_size          113
Public services index     99
democracy_score          111
crime index               89
litracy_rate              68
gender_equality          121
education                121
health                   121
dtype: int64

In [15]:
df = df.dropna(axis=0)

In [16]:
df

,country,depression_rate,corruption_score,average_temperature,gini,unemployment_rate,family_avg_size,Public services index,democracy_score,crime index,litracy_rate,gender_equality,education,health
2,Albania,4.8,36.0,54.45 °F,33.2,11.7,3.30,4.1,6.08,5.63,97.553902,0.770,0.999,0.956
6,Angola,3.6,33.0,71.19 °F,51.3,9.6,4.82,9.1,3.66,5.29,71.164162,0.657,0.759,0.976
10,Argentina,4.7,38.0,59.18 °F,42.9,11.5,3.26,4.5,6.95,4.38,98.089973,0.752,1.000,0.977
11,Armenia,5.0,46.0,46.15 °F,29.9,18.3,3.54,3.6,5.35,3.26,99.768417,0.673,0.998,0.950
13,Australia,5.9,75.0,71.69 °F,34.4,6.5,2.55,2.5,8.96,4.00,99.000000,0.731,1.000,0.968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Uruguay,5.0,73.0,64.33 °F,39.7,10.5,2.78,3.5,8.61,2.69,98.442101,0.702,1.000,0.980
267,Venezuela,4.2,14.0,78.28 °F,44.8,5.0,4.33,8.6,2.76,6.64,95.399246,0.699,0.998,0.980
272,Yemen,3.6,16.0,77.97 °F,36.7,13.5,6.67,9.9,1.95,6.13,69.961952,0.492,0.717,0.968
273,Zambia,4.0,33.0,72.01 °F,57.1,12.5,5.13,7.8,4.86,4.93,85.117264,0.726,0.938,0.980
274,Zimbabwe,4.0,23.0,71.4 °F,50.3,16.9,4.08,8.7,3.16,5.66,86.873482,0.732,0.977,0.980

In [17]:
print(df['average_temperature'])

2      54.45 °F
6      71.19 °F
10     59.18 °F
11     46.15 °F
13     71.69 °F
         ...
264    64.33 °F
267    78.28 °F
272    77.97 °F
273    72.01 °F
274     71.4 °F
Name: average_temperature, Length: 106, dtype: object

In [18]:
df.dtypes

country                   object
depression_rate          float64
corruption_score         float64
average_temperature       object
gini                     float64
unemployment_rate        float64
family_avg_size          float64
Public services index    float64
democracy_score          float64
crime index              float64
litracy_rate             float64
gender_equality          float64
education                float64
health                   float64
dtype: object

In [19]:
# Remove the '°F' suffix and convert to float
df['average_temperature'] = df['average_temperature'].str.replace(' °F', '').astype(float)

C:\Users\Tahor\AppData\Local\Temp\ipykernel_22848\915829945.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['average_temperature'] = df['average_temperature'].str.replace(' °F', '').astype(float)

In [20]:
df

,country,depression_rate,corruption_score,average_temperature,gini,unemployment_rate,family_avg_size,Public services index,democracy_score,crime index,litracy_rate,gender_equality,education,health
2,Albania,4.8,36.0,54.45,33.2,11.7,3.30,4.1,6.08,5.63,97.553902,0.770,0.999,0.956
6,Angola,3.6,33.0,71.19,51.3,9.6,4.82,9.1,3.66,5.29,71.164162,0.657,0.759,0.976
10,Argentina,4.7,38.0,59.18,42.9,11.5,3.26,4.5,6.95,4.38,98.089973,0.752,1.000,0.977
11,Armenia,5.0,46.0,46.15,29.9,18.3,3.54,3.6,5.35,3.26,99.768417,0.673,0.998,0.950
13,Australia,5.9,75.0,71.69,34.4,6.5,2.55,2.5,8.96,4.00,99.000000,0.731,1.000,0.968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Uruguay,5.0,73.0,64.33,39.7,10.5,2.78,3.5,8.61,2.69,98.442101,0.702,1.000,0.980
267,Venezuela,4.2,14.0,78.28,44.8,5.0,4.33,8.6,2.76,6.64,95.399246,0.699,0.998,0.980
272,Yemen,3.6,16.0,77.97,36.7,13.5,6.67,9.9,1.95,6.13,69.961952,0.492,0.717,0.968
273,Zambia,4.0,33.0,72.01,57.1,12.5,5.13,7.8,4.86,4.93,85.117264,0.726,0.938,0.980
274,Zimbabwe,4.0,23.0,71.40,50.3,16.9,4.08,8.7,3.16,5.66,86.873482,0.732,0.977,0.980

In [21]:
# Convert Fahrenheit to Celsius
df['average_temperature'] = (df['average_temperature'] - 32) * 5/9

C:\Users\Tahor\AppData\Local\Temp\ipykernel_22848\238036774.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['average_temperature'] = (df['average_temperature'] - 32) * 5/9

In [120]:
#Round the values to two decimal places
df['average_temperature'] = df['average_temperature'].round(2)

C:\Users\Tahor\AppData\Local\Temp\ipykernel_6568\2769903250.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['average_temperature'] = df['average_temperature'].round(2)

In [22]:
df.reset_index()

,index,country,depression_rate,corruption_score,average_temperature,gini,unemployment_rate,family_avg_size,Public services index,democracy_score,crime index,litracy_rate,gender_equality,education,health
0,2,Albania,4.8,36.0,12.472222,33.2,11.7,3.30,4.1,6.08,5.63,97.553902,0.770,0.999,0.956
1,6,Angola,3.6,33.0,21.772222,51.3,9.6,4.82,9.1,3.66,5.29,71.164162,0.657,0.759,0.976
2,10,Argentina,4.7,38.0,15.100000,42.9,11.5,3.26,4.5,6.95,4.38,98.089973,0.752,1.000,0.977
3,11,Armenia,5.0,46.0,7.861111,29.9,18.3,3.54,3.6,5.35,3.26,99.768417,0.673,0.998,0.950
4,13,Australia,5.9,75.0,22.050000,34.4,6.5,2.55,2.5,8.96,4.00,99.000000,0.731,1.000,0.968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,264,Uruguay,5.0,73.0,17.961111,39.7,10.5,2.78,3.5,8.61,2.69,98.442101,0.702,1.000,0.980
102,267,Venezuela,4.2,14.0,25.711111,44.8,5.0,4.33,8.6,2.76,6.64,95.399246,0.699,0.998,0.980
103,272,Yemen,3.6,16.0,25.538889,36.7,13.5,6.67,9.9,1.95,6.13,69.961952,0.492,0.717,0.968
104,273,Zambia,4.0,33.0,22.227778,57.1,12.5,5.13,7.8,4.86,4.93,85.117264,0.726,0.938,0.980
105,274,Zimbabwe,4.0,23.0,21.888889,50.3,16.9,4.08,8.7,3.16,5.66,86.873482,0.732,0.977,0.980